__pycache__/arg_parse.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
models/sam_vit_h_4b8939.pth
segment_anything/__pycache__/__init__.cpython-38.pyc
segment_anything/__pycache__/automatic_mask_generator.cpython-38.pyc
segment_anything/__pycache__/build_sam.cpython-38.pyc
segment_anything/__pycache__/predictor.cpython-38.pyc
segment_anything/modeling/__pycache__/__init__.cpython-38.pyc
segment_anything/modeling/__pycache__/common.cpython-38.pyc
segment_anything/modeling/__pycache__/image_encoder.cpython-38.pyc
segment_anything/modeling/__pycache__/mask_decoder.cpython-38.pyc
segment_anything/modeling/__pycache__/prompt_encoder.cpython-38.pyc
segment_anything/modeling/__pycache__/sam.cpython-38.pyc
segment_anything/modeling/__pycache__/transformer.cpython-38.pyc
segment_anything/utils/__pycache__/__init__.cpython-38.pyc
segment_anything/utils/__pycache__/amg.cpython-38.pyc
segment_anything/utils/__pycache__/transforms.cpython-38.pyc
segment_anything.egg-info/dependency_links.txt
segment_anything.egg-info/PKG-INFO
segment_anything.egg-info/requires.txt
segment_anything.egg-info/SOURCES.txt
segment_anything.egg-info/top_level.txt
